  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>{{site.data.text.aside.head }}</h3>
              <h3>{{site.data.text.aside.sub }}</h3>
              <a href="#" class="wrap btn btn-default btn-xl wow tada">{{ site.data.text.aside.button }}</a>
          </div>
      </div>
  </aside>
