<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img style="max-width: 90vw" class="section-heading img-fluid" src="img/{{ site.data.text.calltoaction.image }}"/> 
                <hr class="light">
                <p class="text-faded">{{ site.data.text.calltoaction.head }}</p>
                <a href="{{site.data.text.calltoaction.href}}" class="btn btn-default btn-xl">{{ site.data.text.calltoaction.button }}</a>
            </div>
        </div>
    </div>
</section>
