<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            {{site.data.text.contact.instagram.iconhtml }}
                <p>{{ site.data.text.contact.instagram.sub }}</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            {{ site.data.text.contact.email.iconhtml }}
                <p>{{ site.data.text.contact.email.sub }}</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            {{ site.data.text.contact.gitlab.iconhtml }}
            <p>{{ site.data.text.contact.gitlab.sub}}</p>
        </div>
    </div>
</section>
