<section id="destination">
    <div class="container">
        <div class="column">
            <div class="row-xs-6 text-center">
                <hr class="primary">
                    {{ site.data.text.destination.icon }}
                    <h3>{{ site.data.text.destination.head }}</h3>
                    <p class="text-muted">
                        {{ site.data.text.destination.sub }}
                    </p>
            </div>
        </div>
    </div>
</section>
