<section id="services">
    <div class="container">
        <div class="row">
            <div class="row-xs-12 text-center">
                <h2 class="section-heading">{{ site.data.text.dinner.head }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container primary">
        <div class="row">
            <div id="dinner" class="row-lg-6 row-md-6 text-center">
                <div class="service-box">
                    {{site.data.text.dinner.iconhtml}}
                    {{site.data.text.dinner.title }}
                    {{site.data.text.dinner.sub}}
                <hr class="primary">
                </div>
            </div>
            {%for element in site.data.text.dinner.details%}
                <div id="dinner-{{element.name}}" class="row-lg-6 row-md-6 text-center">
                    <div class="service-box">
                        <i
                        class="material-icons md-36 wow bounceIn text-primary"
                        >
                        {{element.icon}} 
                        </i>

                        <h3>{{element.name}}</h3>
                        {% if element.button %}
                        <a
                                href="{{ element.button.href }}"
                                color="{{ element.button.color }}"
                                class="btn btn-default btn-xl wow tada"
                                target="_blank"
                                >
                                {{ element.button.title }}
                        </a>  
                        {% endif %}
                        {{ element.sub }}
                    </div>
                </div>                  
            {% endfor %}
        </div>
    </div>
</section>
