<section id="disco">
    <div class="container">
        <div class="column">
            <div class="row-xs-6 text-center">
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="column">
            <div class="row-lg-3 row-md-6 text-center">
                <div class="service-box">
                    {{site.data.text.disco.iconhtml}}
                    <h2>
                        {{ site.data.text.disco.head }}
                    </h2>
                    <p class="text-muted">
                        {{ site.data.text.disco.sub }}
                    </p>
                    <hr class="primary">
                    {%for element in site.data.text.disco.details %}
                        <div id="dinner-{{element.name}}" class="row-lg-6 row-md-6 text-center">
                            <div class="service-box">
                                <i
                                class="material-icons md-36 wow bounceIn text-primary"
                                >
                                {{element.icon}} 
                                </i>

                                <h3>{{element.name}}</h3>
                                {% if element.button %}
                                <a
                                        href="{{ element.button.href }}"
                                        color="{{ element.button.color }}"
                                        class="btn btn-default btn-xl wow tada"
                                        target="_blank"
                                        >
                                        {{ element.button.title }}
                                </a>  
                                {% endif %}
                                {{ element.sub }}
                            </div>
                        </div>                  
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
