<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a 
                href="https://instagram.com/bootyandthebeast4ever"
                target="_blank"
            >
                <img
                    class="navbar-brand page-scroll"
                    src="img/logo.png"
                />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#dinner">Dinner</a>
                </li>
                <li>
                    <a class="page-scroll" href="#disco">Disco</a>
                </li>
                <li>
                    <a class="page-scroll" href="#destination">Destination</a>
                </li>
                <li>
                    <a class="page-scroll" href="#glamshots">Glamshots</a>
                </li>
                <li>
                    <a class="page-scroll" href="#tinder2flame">Tinder2Flame</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
