<section id="glamshots`"  class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for element in site.data.text.glamshots %}
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/glamshots/{{ element.image }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ element.caption }}
                            </div>
                            <div class="project-name">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
